body{
    font-family: 'Montserrat', sans-serif;
}
hr {
    height: 8px;
    background-color: red;
    background-image: linear-gradient(90deg, red, transparent);
    
    border: 0;
    height: 1px;
}

/*Navbar*/
#navbar{
    position: sticky;
    top: 0;
    background-color: black;
    padding: 10px;
    text-align: left;
    z-index: 3;
}
.navbar-nav{
    padding-left: 3%;
}
.txt-title{
    text-decoration: underline;
    color: #fff;
    font-family: 'Chivo', sans-serif;
    font-weight: 800;
    font-size: 1.7rem;
}
/*Movie Selection*/
#movie-selection{
    position: relative;
    font-family: 'Almorai', sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}
.bg-img,.bg-img1,.bg-img2{
    margin: 20px;
    font-family: 'Chivo' , sans-serif;
    font-weight: 400;
    border-radius: 20px;
}
.bg-img{
    background: linear-gradient(135deg, #1B2845, #11498C, #004EC1, #0056B3, #1B2845);
}
.bg-img1{
    background: linear-gradient(to bottom right, #060808 30%,#f36d20, #ff3300);
}
.bg-img2{
    background: linear-gradient(45deg, #A88F76, #7F6650, #513A2B, #2D170C);
}
.mv-img{
    width: 100%;
    margin: auto;
}
.mv-details{
    font-size: 1rem;
    line-height: 1.5rem;
    width: 100%;
    margin: 50px 20px;
}
.movie-poster{
    size: 25%;
    margin: auto;
    width: 35%;
}
.carousel-item{
    padding: 7% 14%;
}
/*Schedule Movies*/

.txt-showing{
    z-index: 1;
    text-align: center;
    -webkit-background-clip: text;
    font-size: 5rem;
    font-weight: 900;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #274060 74%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.cs-mv{
    font-family: "Almarai", sans-serif;
    font-weight: 900;
    color: white;
    font-size: 1.3rem;
}
.coming-soon-mv{
    z-index: 1;
    position: relative;
    margin: 25px 85px;
    padding: 90px 0px 1px 0px;
    width: 70%;
}
.soon-container{
    text-align: center;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #274060 74%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*Contact*/
#footer{
    padding: 7% 14%;
    text-align: center;
}
.foot-icon{
    padding: 20px 10px;
}


@media (max-width: 425px){
    .mv-details{
        font-size: 0.7rem;
        width: 100%;
        margin: 50px 5px;
    }
}